div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 License Compositor Demo!
    p.lead Align up to three licenses at the same time

.container
  .row
    .col-xs-4
      h1(ng-show="selectedLicense1") {{selectedLicense1}}
      h1(ng-hide="selectedLicense1") Please, select the license!
      select(ng-model="selectedLicense1").selector
        option(value="CC-BY-4.0") Attribution 4.0 International (CC BY 4.0)
        option(value="CC-BY-NC-SA-4.0") Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)
        option(value="CC-BY-SA-4.0") Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)
    .col-xs-4
      h1(ng-show="selectedLicense2") {{selectedLicense2}}
      h1(ng-hide="selectedLicense2") Please, select the license!
      select(ng-model="selectedLicense2").selector
        option(value="CC-BY-4.0") Attribution 4.0 International (CC BY 4.0)
        option(value="CC-BY-NC-SA-4.0") Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)
        option(value="CC-BY-SA-4.0") Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)
    .col-xs-4
      h1(ng-show="selectedLicense3") {{selectedLicense3}}
      h1(ng-hide="selectedLicense3") Please, select the license!
      select(ng-model="selectedLicense3").selector
        option(value="CC-BY-4.0") Attribution 4.0 International (CC BY 4.0)
        option(value="CC-BY-NC-SA-4.0") Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)
        option(value="CC-BY-SA-4.0") Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)

footer.footer
  .container
    p
      | Build with Angular Fullstack v2.0.13
      = ' | '
      a(href='https://github.com/earthquakesan') by Ivan Ermilov
